html
body
table(style='text-align:center;width:50%', border='1')
tr
th Name
=" "
=" "
=" "
=" "
=" "
=" "
=" "
th Username
=" "
=" "
=" "
=" "
=" "
th Phno
=" "
=" "
=" "
=" "
=" "

br
each item,i in result
 tr
  td=item.name 
    =" "
  td=item.username
    =" "
  td=item.phno
 br
 
